<!DOCTYPE html>
<html dir="<%= lang === 'en' ? 'ltr' : 'rtl' %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&family=Smooch+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      /* --------------general styles ----------------- */
      :root {
        --green: #3bae49;
        --green-light: #f0f9f1;
        --green-2: #006400;
        --green-2-light: #90ee90;
        --orange: #f6871f;
        --orange-light: #fff6ed;
        --white: #fff;
        --black: #000;
        --grey: #828282;
        --grey-light: #f2f2f2;
        --grey-very-light: #f9f9f9;
      }
      * {
        margin: 0;
        padding: 0;
      }
      html {
        font-family: "Tajawal", sans-serif;
      }
      .flex {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .flex-col {
        flex-direction: column;
        gap: 20px;
      }

      .pdf-page {
        page-break-after: always;
        width: 595px;
        height: 842px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        counter-increment: sectionCounter;
      }
      .pdf-page:last-child {
        page-break-after: auto;
      }
      /* -------------footer------------ */
      .pdf-page::after {
        content: counter(sectionCounter);
        position: absolute;
        bottom: 29px;
        right: 63px;
        font-size: 10px;
        width: 16px;
        height: 16px;
        border: solid 0.1px var(--grey-light);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .ltr .pdf-page::after {
        right: auto;
        left: 63px;
      }
      .pdf-page::before {
        content: "<%= title %> ";
        font-size: 5.5px;
        color: var(--grey);
        position: absolute;
        bottom: 34px;
        right: 85px;
      }
      .ltr .pdf-page::before {
        right: auto;
        left: 85px;
      }
      .pdf-page:first-child::before,
      .pdf-page:first-child::after {
        content: none;
      }

      .page-title {
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        top: 48px;
        left: 50%;
        transform: translateX(-50%);
      }
      .page-description {
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
      }
      .ltr .page-description {
        line-height: 24px;
      }

      .text-10-bold {
        font-size: 10px;
        font-weight: bold;
      }
      .text-14-bold {
        font-size: 14px;
        font-weight: bold;
      }

      .justify-start {
        justify-content: flex-start;
      }
      .justifiy-between {
        justify-content: space-between;
      }
      .items-start {
        align-items: flex-start;
      }
      .gap-5 {
        gap: 5px;
      }
      body {
        counter-reset: sectionCounter;
      }

      /* --------------  progress-circle-bar ----------------- */
      .progress-container {
        position: relative;
      }

      .result-text {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: bold;
      }

      .result-text span {
        font-size: 10px;
        font-weight: 500;
      }
      /* --------------  page-1 ----------------- */
      .page-1 {
        background: var(--green);
        color: var(--white);
        justify-content: space-around;
        font-weight: bold;
      }
      .page-1-logo {
        width: 187px;
        height: 100%;
      }
      .page-1-title {
        font-size: 32px;
      }
      .page-1-subtitle {
        font-size: 24px;
      }
      .page-1-user {
        font-size: 20px;
      }
      .page-1-date {
        font-size: 16px;
        font-weight: 400;
      }

      /* --------------  page-2 ----------------- */
      .page-2-content,
      .page-7-content,
      .page-8-content {
        padding: 0 48px;
      }

      .page-2-card {
        align-items: flex-start;
        gap: 10px;
      }

      .page-2-card p {
        margin-top: -5px;
      }
      .page-2-card img {
        width: 21px;
        height: 21px;
      }
      /* --------------  page-3 ----------------- */

      .page-3-content {
        justify-content: flex-start;
        margin: 150px 48px 0 48px;
      }
      /* --------------  page-4 ----------------- */
      .page-4-content,
      .page-6-content {
        padding: 110px 24px 0 24px;
        gap: 11px;
      }
      .shadow-card,
      .card {
        display: flex;
        border: solid 1px var(--grey-light);
        box-shadow: 0px 4px 8px var(--grey-light);
        justify-content: space-between;
        padding: 8px;
        border-radius: 12px;
        gap: 20px;
      }
      .shadow-card {
        /* width: 547px; */
      }
      .card {
        box-shadow: none;
      }
      .header-result {
        padding: 15px 20px;
        border-radius: 12px;
        gap: 5px;
      }
      .result-title {
        text-align: center;
        white-space: nowrap;
      }
      .heder-desc-title {
        font-size: 16px;
        font-weight: bold;
      }
      .header-points {
        gap: 8px;
        font-size: 12px;
      }
      .header-point {
        padding: 7px 15px;
        gap: 8px;
        border-radius: 20px;
        white-space: nowrap;
      }
      .header-point span {
        font-weight: bold;
      }
      .header-point img {
        width: 7px;
        height: 7px;
      }
      .header-point-1 {
        background: var(--green-light);
        color: var(--green);
      }
      .header-point-2 {
        background: var(--orange-light);
        color: var(--orange);
      }
      .header-point-3 {
        background: var(--grey-light);
        color: var(--grey);
      }
      .capacity-result {
        display: flex;
        width: 100%;
        height: 55px;
        max-width: 540px;
        border: solid 1px var(--grey-light);
        border-radius: 12px;
        padding: 8px;
        justify-content: space-between;
        gap: 7px;
      }
      .capacity-result .result-text {
        font-size: 12.5px;
        bottom: 22px;
      }
      .capacity-result .result-text span {
        font-size: 6.4px;
      }
      .capacity-called {
        align-items: flex-start;
        width: 132px;
      }
      .capacity-called .header-point {
        font-size: 7.5px;
        font-weight: bold;
        padding: 4px 10px;
        gap: 4px;
      }
      .capacity-called img {
        width: 7px;
      }

      .capacity-desc {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 325px;
        background: var(--grey-very-light);
        border-radius: 12px;
      }
      .capacity-desc p {
        padding: 8px;
        font-size: 8px;
        font-weight: 500;
      }

      /* --------------  page-6 ----------------- */
      /* --------------  percentage-result ----------------- */
      .page-6-content .shadow-card {
        padding: 20px 20px 20px 10px;
        max-width: 550px;
        width: 100%;
      }
      .percentage-result {
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        border-radius: 20px;
        padding: 2px 7px;
      }
      .percentage-result img {
        width: 6px;
        height: 9px;
      }
      .shadow-card .percentage-result p {
        font-size: 14px;
        font-weight: bold;
      }
      .page-6-header {
        gap: 5px;
      }
      .level {
        width: 110px;
        gap: 6px;
      }
      .level-box {
        justify-content: flex-start;
        gap: 4px;
      }
      .level-box p {
        font-size: 8px;
      }
      .level-color {
        width: 32px;
        height: 12px;
        border-radius: 5px;
        background: var(--green-2-light);
      }
      .level-2 .level-color {
        background: var(--green-2);
      }
      .page-6-desc {
        font-size: 12px;
        width: 332px;
        line-height: 20px;
        font-weight: 500;
      }
      .capacity-level {
        justify-content: space-between;
        align-items: center;
        width: 101%;
      }

      /* -------- */
      .progress-bar-container {
        background-color: var(--grey-light);
        border-radius: 20px;
        width: 304px;
        height: 12px;
        overflow: hidden;
        font-size: 8px;
        font-weight: bold;
      }

      .progress-bar {
        background-color: var(--green-2);
        height: 100%;
        border-radius: 15px;
        font-weight: bold;
        color: var(--white);
        position: relative;
      }
      .progress-bar p {
        position: absolute;
        left: 10px;
      }

      .progress-bar-2 {
        color: var(--green-2);
        background-color: var(--green-2-light);
      }

      /* ----------------7--------------- */
      .page-7-content {
        gap: 40px;
      }
      .page-7-card {
        gap: 15px;
      }
      .page-7-card-title {
        font-size: 18px;
        font-weight: bold;
      }
      .page-7-card-num {
        font-size: 33.7px;
        font-weight: bold;
        position: relative;
      }
      .page-7-card-num img {
        width: 40px;
        height: 29px;
      }
      .page-7-card-num p {
        color: var(--green);
        position: absolute;
        bottom: 10px;
        right: 5px;
        font-family: "Smooch Sans";
      }
      /* ---------------8 ------------- */
      .page-8-content {
        gap: 50px;
      }
      .page-8-card {
        gap: 15px;
      }
      .page-8-card img {
        width: 52px;
        height: 52px;
      }
    </style>
  </head>
  <body class="<%= lang === 'en' ? 'ltr' : 'rtl' %>">
    <!-- ------  الصفحة الرئيسية ----------- -->
    <section class="flex flex-col pdf-page page-1">
      <div class="flex flex-col">
        <img class="page-1-logo" src="<%= heroLogo %>" alt="logo" />
        <p class="page-1-title"><%= title %></p>
        <p class="page-1-subtitle"><%= subtitle %></p>
      </div>

      <div class="flex flex-col">
        <p class="page-1-user"><%= usernameTitle %> : <%= username %></p>
        <p class="page-1-date"><%= dateTitle %> : <%= date %></p>
      </div>
    </section>

    <!-- ------  حول البرنامج----------- -->
    <section
      class="flex flex-col pdf-page"
      style="background-image: url(<%= backgroundSmallTitle %>)"
    >
      <p class="page-title"><%= aboutTitle %></p>

      <div class="flex flex-col page-2-content">
        <% cards.forEach(function(card) { %>
        <div class="flex page-2-card">
          <img src="<%= rightCheck %>" alt="right check" />
          <p class="page-description"><%= card %></p>
        </div>
        <% }); %>
      </div>
    </section>

    <!-- ------  وصف نتيجتك ----------- -->
    <% if (!allStrength) { %>
    <section
      class="flex flex-col pdf-page justify-start"
      style="background-image: url(<%= backgroundSmallTitle %>)"
    >
      <p class="page-title"><%= resultDescriptionTitle %></p>

      <div class="page-3-content">
        <p class="page-description"><%= resultDescription %></p>
      </div>
    </section>
    <% } %>
    <!-- ------  تفاصيل نقاط قوتك وضعفك ----------- -->
    <section
      class="flex flex-col pdf-page justify-start"
      style="background-image: url(<%= backgroundSmallTitle %>)"
    >
      <p class="page-title"><%= pointsTitle %></p>

      <div class="page-4-content flex flex-col page-6">
        <div class="shadow-card">
          <div class="flex flex-col header-result">
            <div class="progress-container">
              <svg
                class=""
                width="80"
                height="59"
                viewBox="0 0 80 59"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <!-- Background path -->
                <path
                  d="M7.83752 53.1784C5.67248 47.9693 4.82552 42.3067 5.37167 36.6921C5.91782 31.0775 7.84022 25.6842 10.9686 20.9901C14.097 16.2959 18.3347 12.4457 23.3065 9.78047C28.2783 7.11527 33.8307 5.71736 39.4718 5.71055C45.1129 5.70374 50.6686 7.08826 55.6468 9.74145C60.625 12.3946 64.872 16.2346 68.0117 20.9212C71.1514 25.6079 73.0868 30.9965 73.6465 36.6097C74.2062 42.223 73.3729 47.8877 71.2205 53.102"
                  stroke="#E8E8E8"
                  stroke-width="10.4211"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <!-- Dynamic progress path -->
                <path
                  d="M8.73875 53.1121C7.01857 48.9488 6.13526 44.4874 6.13925 39.9828C6.14324 35.4781 7.03446 31.0183 8.76202 26.858C10.4896 22.6978 13.0196 18.9185 16.2078 15.736C19.3959 12.5536 23.1796 10.0302 27.3429 8.31004C31.5062 6.58986 35.9676 5.70655 40.4723 5.71054C44.977 5.71453 49.4367 6.60575 53.597 8.33331C57.7573 10.0609 61.5365 12.5909 64.719 15.779C67.9015 18.9672 70.4248 22.7509 72.145 26.9142"
                  stroke="#3bae49"
                  stroke-width="10.4211"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-dasharray="120%"
                  stroke-dashoffset="0"
                />
              </svg>

              <p class="result-text">80<span>%</span></p>
            </div>
            <p class="font-bold" style="color: #3bae49">مرتفع</p>
          </div>

          <div class="flex flex-col items-start">
            <p class="heder-desc-title"><%= mainLevel %></p>

            <div class="flex header-points">
              <div class="flex header-point header-point-1">
                <p><span>6</span> <%= fullPoint %></p>
                <img src="<%= fullPoints %>" />
              </div>
              <div class="flex header-point header-point-2">
                <p><span>6</span> <%= mediumPoint %></p>
                <img src="<%= mediumPoints %>" />
              </div>
              <div class="flex header-point header-point-3">
                <p><span>6</span> <%= smallPoint %></p>
                <img src="<%= smallPoints %>" />
              </div>
            </div>
          </div>
        </div>

        <div class="capacity-result">
          <div class="progress-container">
            <svg
              class=""
              width="42"
              height="42"
              viewBox="0 0 80 59"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <!-- Background path -->
              <path
                d="M7.83752 53.1784C5.67248 47.9693 4.82552 42.3067 5.37167 36.6921C5.91782 31.0775 7.84022 25.6842 10.9686 20.9901C14.097 16.2959 18.3347 12.4457 23.3065 9.78047C28.2783 7.11527 33.8307 5.71736 39.4718 5.71055C45.1129 5.70374 50.6686 7.08826 55.6468 9.74145C60.625 12.3946 64.872 16.2346 68.0117 20.9212C71.1514 25.6079 73.0868 30.9965 73.6465 36.6097C74.2062 42.223 73.3729 47.8877 71.2205 53.102"
                stroke="#E8E8E8"
                stroke-width="10.4211"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <!-- Dynamic progress path -->
              <path
                d="M8.73875 53.1121C7.01857 48.9488 6.13526 44.4874 6.13925 39.9828C6.14324 35.4781 7.03446 31.0183 8.76202 26.858C10.4896 22.6978 13.0196 18.9185 16.2078 15.736C19.3959 12.5536 23.1796 10.0302 27.3429 8.31004C31.5062 6.58986 35.9676 5.70655 40.4723 5.71054C44.977 5.71453 49.4367 6.60575 53.597 8.33331C57.7573 10.0609 61.5365 12.5909 64.719 15.779C67.9015 18.9672 70.4248 22.7509 72.145 26.9142"
                stroke="#3bae49"
                stroke-width="10.4211"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-dasharray="120%"
                stroke-dashoffset="0"
              />
            </svg>

            <p class="result-text">80<span>%</span></p>
          </div>

          <div class="flex flex-col capacity-called">
            <p class="text-10-bold">الاعتقاد في القدرات الشخصية</p>
            <div class="flex header-point header-point-1">
              <p>نقاط قوة</p>
              <img src="<%= fullPoints %>" />
            </div>
          </div>
          <div class="capacity-desc">
            <p>
              أن يكون لدى الشخص فكرة إيجابية عن القدرات التي يمتلكها، وأن يكون
              لديه توقعٌ كبير لحسن توظيفه لها في المواقف المختلفة.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- ------  تابع لتفاصيل نقاط قوتك وضعفك ----------- -->
    <section
      class="flex flex-col pdf-page justify-start"
      style="background-image: url(<%= backgroundBigTitle %>)"
    >
      <p class="page-title"><%= pointsRestTitle %></p>
    </section>

    <!-- ------ مستواك مقارنةً بنتائج المختبرين الآخرين ----------- -->
    <section
      class="flex flex-col pdf-page justify-start"
      style="background-image: url(<%= backgroundBigTitle %>)"
    >
      <p class="page-title"><%= comparisonTitle %></p>

      <div class="page-6-content flex flex-col">
        <div class="shadow-card flex-col">
          <div class="flex justify-start page-6-header">
            <p class="text-14-bold"><%= levelSentens %></p>
            <div
              class="percentage-result"
              style="border-color: #f0f9f1; color: #3bae49"
            >
              <small class="">%</small>
              <p>17</p>
              <img src="<%= arrowGreenUp %>" alt="arrow" />
            </div>
          </div>
          <div class="flex justifiy-between">
            <p class="page-6-desc"><%= levelDesc %></p>
            <div class="card flex-col level">
              <div class="flex level-box">
                <div class="level-color"></div>
                <p><%= yourLevel %></p>
              </div>
              <div class="flex level-box level-2">
                <div class="level-color"></div>
                <p><%= theLevel %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card capacity-level">
          <p class="text-10-bold">الاعتقاد في القدرات الشخصية</p>
          <div
            class="percentage-result"
            style="border-color: #f0f9f1; color: #3bae49"
          >
            <small class="">%</small>
            <p>17</p>
            <img src="<%= arrowGreenUp %>" alt="arrow" />
          </div>

          <div class="flex flex-col gap-5">
            <div class="progress-bar-container">
              <div class="progress-bar" style="width: 82%">
                <p>82%</p>
              </div>
            </div>
            <div class="progress-bar-container">
              <div class="progress-bar progress-bar-2" style="width: 65%">
                <p>65%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ------  وصف نتيجتك ----------- -->
    <% if (allStrength) { %>
    <section
      class="flex flex-col pdf-page justify-start"
      style="background-image: url(<%= backgroundSmallTitle %>)"
    >
      <p class="page-title"><%= resultDescriptionTitle %></p>

      <div class="page-3-content">
        <!--todo -- mostafa remove this -->
        <p class="page-description"><%= resultDescription %></p>

        <!--todo -- mostafa add variable  array in this -->
        <!-- <div class="flex flex-col page-2-content">
          <% cards.forEach(function(card) { %>
          <div class="flex page-2-card">
            <img src="<%= rightCheck %>" alt="right check" />
            <p class="page-description"><%= card %></p>
          </div>
          <% }); %>
        </div> -->
      </div>
    </section>
    <% } %>
    <!-- ------  التوصيات التطويرية ----------- -->
    <% if (!allStrength) { %>
    <section
      class="flex flex-col pdf-page"
      style="background-image: url(<%= backgroundSmallTitle %>)"
    >
      <p class="page-title"><%= developmentRecommendationsTitle %></p>

      <div class="flex flex-col page-7-content">
        <% recommendationsTitles.forEach(function(title, index) { %>
        <div class="flex items-start page-7-card">
          <div class="page-7-card-num">
            <img src="<%= treePapers %>" alt="tree" />
            <p><%= (index + 1).toString().padStart(2, '0') %></p>
          </div>
          <div>
            <p class="page-7-card-title"><%= title %></p>
            <p class="page-description">
              <%= recommendationsDescriptions[index] %>
            </p>
          </div>
        </div>
        <% }); %>
      </div>
    </section>
    <% } %>
    <!-- ------  الملاحظات ----------- -->
    <section
      class="flex flex-col pdf-page"
      style="background-image: url(<%= backgroundSmallTitle %>)"
    >
      <p class="page-title"><%= notesTitle %></p>

      <div class="flex flex-col page-8-content items-start">
        <% if (allStrength) { %>
        <!-- Show only the 1st and 4th notes -->
        <div class="flex page-8-card">
          <img src="<%= noteImages[0] %>" alt="note 1" />
          <p class="page-description"><%= notesDescription[0] %></p>
        </div>
        <div class="flex page-8-card">
          <img src="<%= noteImages[3] %>" alt="note 4" />
          <p class="page-description"><%= notesDescription[3] %></p>
        </div>
        <% } else { %>
        <!-- Show all 4 notes -->
        <% notesDescription.forEach(function(note, index) { %>
        <div class="flex page-8-card">
          <img src="<%= noteImages[index] %>" alt="note <%= index + 1 %>" />
          <p class="page-description"><%= note %></p>
        </div>
        <% }); %> <% } %>
      </div>
    </section>
  </body>
</html>
